*{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}
.ui{
  margin : 1em;
}
.list{
  list-style-type : none;
  margin : 1em;
}
.cbutton{
  float : right;
  margin-right : 30%;
}
.todos{
  padding:0.5em;
}